<!DOCTYPE html>
<html>
<head>
<title>Freshers Career</title>
<style>
  h1 {
    font-size: 40px;
    font-family: Roboto;
    font-weight: normal;
    color: rgb(170,170,170);
    text-align: center !important;  /* Added !important for emphasis */
  }
  
  h2{
    font-family: Robot;
    font-size: 32px;
    color: rgb(100, 100, 100);
    text-align: center !important;
    font-weight: normal;
  }
  
  .bodytext{
    font-family: Roboto;
    color: rgb(80, 80, 80);
  }

  #container{
    max-width: 720px;
    margin: 0 auto ;
  }
  
</style>
</head>
<body>
  <div id="container">
  <h1>Freshers Careers</h1>
  <h2>About Freshers Careers</h2>
  <p class="bodytext">At Freshers Careers, we understand that navigating the job market as a fresher can be both exciting and daunting. That's why we've built a platform specifically designed to equip you with the tools and resources you need to land your dream job. Here, you'll find a curated selection of fresh-graduate-friendly positions from leading companies, alongside valuable career guidance and tips. We'll help you craft a compelling resume and cover letter, prepare for interviews with confidence, and connect with industry professionals to jumpstart your career path. Let [Your Website Name] be your one-stop shop for a successful job search!</p>
  <h2>Open Positions</h2>
  <p class="bodytext">TODO - Show the job here</p>
  <div style="text-align:center;"> 
  <button>Contact Us</button>
    <p>Copyright 2022, vaibhav patil</p>
  </div>
  </div>
</body>
</head>
</html>
